$ffMain: 'Montserrat', sans-serif;
$ffHeader: 'Bebas Neue', sans-serif;
$colorHover: #EF3B39;
$colorMain: #fff;
$colorPrimary: #FFB800;
$colorAlt: #EF3B39;
$colorGrey: #8a8a8a;
$colorDark: #252525;
$colorRed: #FF0000;