- var title = 'Pest Hunter | Заказные убийства насекомых!'
include includes/header.pug
<!DOCTYPE html>
html(lang="ru")
  include includes/head.pug
  body
    main
    
    //- include includes/screenshot.pug
    script(src="main.js")