<!DOCTYPE html>
html(lang="ru")
  include includes/head.pug
  body
    .container.scene
      h1.page_title Ты сегодня покормил кота?
      include components/product/product
    script(src="main.js")