@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");
@font-face {
  font-family: MagistralC;
  src: url("assets/media/fonts/magistralc/MagistralC.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: MagistralC;
  src: url("assets/media/fonts/magistralc/MagistralC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.screenshot {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  pointer-events: none;
  opacity: 0; }
  .screenshot.active {
    opacity: .3; }
  .screenshot-btn {
    width: 3.125em;
    height: 3.125em;
    background-color: #F69F21;
    border-radius: 50%;
    position: fixed;
    top: 0.625em;
    right: 0.625em;
    z-index: 999; }
    .screenshot-btn.active {
      background-color: #23C431; }

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1rem; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.container {
  width: 100%;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.btn {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #F69F21;
  border: 1px solid;
  border-radius: 3px;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  padding: 1.25em 1.74em;
  -webkit-transition: .2s;
  transition: .2s; }
  .btn:hover {
    color: #fff;
    background-color: #F69F21;
    border-color: transparent; }
  .btn:focus {
    -webkit-box-shadow: 0 0 20px 0 #23C431;
            box-shadow: 0 0 20px 0 #23C431;
    outline: none; }
  .btn--fill {
    background-color: #F69F21;
    color: #fff;
    width: 100%;
    padding: 1.3em 1.25em 1.35em;
    font-size: 1.25em;
    border-color: #F69F21;
    text-align: center;
    font-weight: 300; }
    .btn--fill:hover {
      background-color: transparent;
      color: #F69F21;
      border-color: #F69F21; }
  .btn--primary {
    color: #fff;
    background-color: #23C431;
    border-color: transparent; }
  .btn--black {
    border-color: #000;
    color: #000;
    text-transform: uppercase; }

.fade-in {
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s; }
  .fade-in.active {
    opacity: 1; }

.slide-in {
  -webkit-transform: translate(-40px, -20px);
          transform: translate(-40px, -20px);
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s; }
  .slide-in.active {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; }

.show--mobile {
  display: block; }

.show--tablet {
  display: none; }

@media (min-width: 768px) {
  .show--mobile {
    display: none; }
  .show--tablet {
    display: block; } }

@media (min-width: 960px) {
  .container {
    width: 60em;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1170px) {
  .container {
    width: 73.125em; } }

/*# sourceMappingURL=main.css.map */
